*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
application/sessions/ci_sessiona0e894g1armcsivs6oavkpa5ho60paab
application/sessions/ci_sessiong8drm6kclovenoqicg86hdhkjcg906ra
application/sessions/ci_sessionhoegq9ubr6p0u51cs01vniet59oc1b97
