.pointer {
    cursor: pointer;
}

.service:hover{
    background: #ffd400;
    color: #FFF !important;
    padding: 50px;
}
.service:hover p, .service:hover h3{
    color: #FFF !important;
}

.swiper-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: 100px !important;
}

.header .logo {
    width: auto;
    height: auto;
    float: left;
    max-height: 95px;
    line-height: 65px;
}

.header .logo-img {
    display: inline-block;
    width: 180px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.header .logo-img-main {
    width: 250px !important;
}

.header .logo-img-active {
    display: none;
    transition-duration: .4s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7,1,.7,1);
}

.header .nav li.active .nav-item-child {
    color: #FFF;
    text-shadow: 1px 1px #000000;
}
.header .nav li.active:hover .nav-item-child:hover {
    color: #fff212;
    text-shadow: 1px 1px #000000;
}
.header .nav-item-child:hover, .page-on-scroll .header .nav-item-child:hover {
    color: #fff212;
    transition-duration: .4s;
    text-shadow: 1px 1px #000000;
}

.header .nav-item-child {
    text-shadow: 1px 1px #000000;
}

@media (min-width: 992px){
    .page-on-scroll .header .nav-item-child {
        text-shadow: none !important;
    }
}
@media (max-width: 991px){
    .header .nav-item-child {
        text-shadow: none !important;
    }
}

@media (min-width: 992px){
    .page-on-scroll .header .nav-item-child{
        color: #515769 !important;
        transition-duration: .3s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.7,1,.7,1);
    }
    
}

.accordion .collapse.in, .accordion [aria-expanded=true] {
    color: #fff;
    background: #ffd400;
}