legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: inherit;
    color: #555555;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}


/*pointers*/
.cursor-pointer { cursor: pointer; }

/*blockquote*/
.blockquote-message { padding: 10px 20px; margin: 0 0 20px; font-size: 17.5px; border-left: 5px solid #99ccff; }
.blockquote-error { padding: 10px 20px; margin: 0 0 20px; font-size: 17.5px; border-left: 5px solid #c70007; }

/*message*/
.wrapper-message-div{ position: fixed; bottom: 50px; right: 0; background-color: #dbf2ff; width: 350px;}

/*error*/
.wrapper-error-div{ position: fixed; bottom: 50px; right: 0; background-color: #ffeded; width: 350px;}
.screen{ position: relative; display:none;}
.form-error-label{ color: red; font-size: 11px; margin-bottom: -10px; }
.validation-error{     font-size: 12px; margin: 0 0 5px; }
.required-span{  margin-left: 5px; color: #b70a0a; font-size: 12px; font-weight: bold; }

/*error page*/
error-wrapper.div.container{ margin-top:20px; }

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #1b7755;
    color: #ffffff;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #1b7755;
}


/*table*/
.table>tbody>tr>td { border-top: 1px solid #cecece !important; vertical-align: middle; }
.list-action{ font-size: 14px; width: 10px; padding: 8px 8px 8px 0px !important; cursor: pointer; };
.list-action:hover{color: #1d9ce5}

/*text*/
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

/*form*/
.checkbox-inline-group { margin-top: 0; margin-bottom: 0; padding: 2px; }
.input-width-full { width: 100% }
.input-width-half { width: 50% }
.input-width-third { width: 30% }
.fa-icon-btn {cursor: pointer; padding: 5px; font-size: 14px}

/*tab*/
.wrapper {
  padding: 15px 0;
}
.tab-link{
    color: #f5d2ba;
}

.nav-tabs>li>a:hover {
    border-color: #e8bd9f #e8bd9f #e8bd9f;
    color: #fff;
    background-color: #f5d2ba;
}

.bs-example-tabs .nav-tabs {
  margin-bottom: 15px;
}

@media (max-width: 479px) {
  #narrow-browser-alert {
    display: none;
  }
}

/*font*/
.font-size-10 { font-size: 10px; }
.font-size-12 { font-size: 12px; }
.font-size-14 { font-size: 14px; }
.font-size-16 { font-size: 16px; }
.font-size-18 { font-size: 18px; }
.font-size-20 { font-size: 20px; }
.font-size-22 { font-size: 22px; }
.font-size-24 { font-size: 24px; }
.font-size-26 { font-size: 26px; }
.font-size-28 { font-size: 28px; }

/*layout*/
.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }
.padding-30 { padding: 30px; }
.padding-40 { padding: 40px; }
.padding-50 { padding: 50px; }
.padding-60 { padding: 60px; }
.padding-70 { padding: 70px; }
.padding-80 { padding: 80px; }
.padding-90 { padding: 90px; }

.padding-bottom-10 { padding-top: 10px; }
.padding-bottom-20 { padding-top: 20px; }
.padding-bottom-30 { padding-top: 30px; }
.padding-bottom-40 { padding-top: 40px; }
.padding-bottom-50 { padding-top: 50px; }
.padding-bottom-60 { padding-top: 60px; }
.padding-bottom-70 { padding-top: 70px; }
.padding-bottom-80 { padding-top: 80px; }
.padding-bottom-90 { padding-top: 90px; }
.padding-top-10 { padding-top: 10px; }
.padding-top-15 { padding-top: 15px; }
.padding-top-20 { padding-top: 20px; }
.padding-top-30 { padding-top: 30px; }
.padding-top-40 { padding-top: 40px; }
.padding-top-50 { padding-top: 50px; }
.padding-top-60 { padding-top: 60px; }
.padding-top-70 { padding-top: 70px; }
.padding-top-80 { padding-top: 80px; }
.padding-top-90 { padding-top: 90px; }
.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-20 { padding-left: 20px; }
.padding-left-30 { padding-left: 30px; }
.padding-left-40 { padding-left: 40px; }
.padding-left-50 { padding-left: 50px; }
.padding-left-60 { padding-left: 60px; }
.padding-left-70 { padding-left: 70px; }
.padding-left-80 { padding-left: 80px; }
.padding-left-90 { padding-left: 90px; }
.padding-right-5 { padding-right: 5px !important; }
.padding-right-10 { padding-right: 10px; }
.padding-right-20 { padding-right: 20px; }
.padding-right-30 { padding-right: 30px; }
.padding-right-40 { padding-right: 40px; }
.padding-right-50 { padding-right: 50px; }
.padding-right-60 { padding-right: 60px; }
.padding-right-70 { padding-right: 70px; }
.padding-right-80 { padding-right: 80px; }
.padding-right-90 { padding-right: 90px; }

.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-40 { margin-bottom: 40px; }
.margin-bottom-50 { margin-bottom: 50px; }
.margin-bottom-60 { margin-bottom: 60px; }
.margin-bottom-70 { margin-bottom: 70px; }
.margin-bottom-80 { margin-bottom: 80px; }
.margin-bottom-90 { margin-bottom: 90px; }
.margin-0 { margin: 0px !important; }

.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-40 { margin-top: 40px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-60 { margin-top: 60px; }
.margin-top-70 { margin-top: 70px; }
.margin-top-80 { margin-top: 80px; }
.margin-top-90 { margin-top: 90px; }

.margin-left-5 { margin-right: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-30 { margin-left: 30px; }
.margin-left-40 { margin-left: 40px; }
.margin-left-50 { margin-left: 50px; }
.margin-left-60 { margin-left: 60px; }
.margin-left-70 { margin-left: 70px; }
.margin-left-80 { margin-left: 80px; }
.margin-left-90 { margin-left: 90px; }
.margin-right-5 { margin-right: 5px; }

.margin-right-10 { margin-right: 10px; }
.margin-right-20 { margin-right: 20px; }
.margin-right-30 { margin-right: 30px; }
.margin-right-40 { margin-right: 40px; }
.margin-right-50 { margin-right: 50px; }
.margin-right-60 { margin-right: 60px; }
.margin-right-70 { margin-right: 70px; }
.margin-right-80 { margin-right: 80px; }
.margin-right-90 { margin-right: 90px; }

.width-5 { width: 5px; }
.width-10 { width: 10px; }
.width-20 { width: 20px; }
.width-30 { width: 30px; }
.width-40 { width: 40px; }
.width-50 { width: 50px; }
.width-60 { width: 60px; }
.width-70 { width: 70px; }
.width-80 { width: 80px; }
.width-90 { width: 90px; }

/*layout*/
.footer-ext{position: fixed; bottom: 0; right: 0;  left: 0; color: #c10d57; background-color: #ff3333; height: 50px; background-color: #f5d2ba; border-color: #f5d2ba; background-repeat: no-repeat;}
.footer a { color: #c10d57; }
.manage-link { cursor: pointer }
.manage-link:hover {
    background-color: #fbeee4;
}

.btn{
  border-radius: 5px !important;
}
.btn:focus {
  outline: none;
}

.navbar-inverse {
    background-image: none;
    background-color: #42DCA3;
    border-color: #42DCA3;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse:hover .navbar-link:hover {
    color: #FFF;
    /*background-color: #c13881;*/
}

.navbar-inverse .navbar-link {
    color: #000000;
}


/*calendar*/
#calendar-wrap .nano { background: #bba; width: 100%; height: 65px; }
#calendar-wrap .nano .nano-content { padding: 10px; }
#calendar-wrap .nano .nano-pane   { background: #cccccc; }
#calendar-wrap .nano .nano-slider { background: #ffd1e4; }

#calendar-wrap header {
  text-align: center;
}
#calendar-wrap .add-event-icon { margin-bottom: 5px; padding: 7px 0px 0px 0px; color: #c10d57; cursor: pointer; }

#calendar {
  width: 100%;
}
#calendar-wrap .calendar-header{
    width: 160px;
    color: #b50c6c;
    font-size: 20px;
    font-weight: 300;
}

#calendar a {
    color: #8e352e;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#calendar a:hover {
    color: #ff7a3b;
}

#calendar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#calendar li {
  display: block;
  float: left;
  width: 14.342%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
}

#calendar ul.weekdays {
  height: 40px;
  background: #c10d57;
}

#calendar ul.weekdays li {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: #fff;
  font-size: 13px;
}

#calendar .days li {
  height: 120px;
}
#calendar .selected {
  background-color: #ffd1e4;
}

#calendar .days li:hover {
  background: #d3d3d3;
}
#calendar .enlarge:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 1;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
    background: rgba(51, 51, 51, 0);
    color: #c10d57;
    width: 25px;
    border-radius: 100%;
    float: right;
}

#calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #ffffff;
    border: 1px solid #cc75dc;
    color: #009aaf;
    text-decoration: none;
}

#calendar .event-desc {
  color: #666;
  margin: 3px 0 7px 0;
  text-decoration: none;
}

#calendar .other-month {
  background: #f5f5f5;
  color: #666;
}

/* ============================
                Mobile Responsiveness
   ============================*/
@media (max-width: 768px) {
  #calendar .weekdays, #calendar .other-month {
    display: none;
  }

  #calendar li {
    height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px;
  }

  #calendar .date {
    float: none;
  }
}

/*modals*/
@media (min-width: 768px){
    .modal-md { width: 450px; }
}


.__overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.44);
    overflow-x: hidden;
    transition: 0.5s;
}
.__overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.__loader {
    border: 10px solid #42DCA3;
    border-top: 10px solid #7a858b;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
.__loader-message {
    color: black;
    margin-top: 20px;
    font-size: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.panel-info>.panel-heading {
    color: #000000;
    background-color: #42DCA3;
    border-color: #42DCA3;
}